[buildout]
develop = .
parts = demo nosetests

[demo]
recipe = rod.recipe.appengine
packages =
    zope.component
    zope.event
    zope.i18nmessageid
    zope.interface
    zope.pagetemplate
    zope.tal
    zope.tales
url = http://googleappengine.googlecode.com/files/google_appengine_1.2.2.zip

[nosetests]
recipe = zc.recipe.egg
extra-paths =
    ${buildout:directory}/parts/google_appengine/
    ${buildout:directory}/parts
eggs =
    ${demo:packages}
    NoseGAE
    WebTest
    coverage
    nose
