[buildout]
develop = .
parts = demo nosetests

[demo]
recipe = rod.recipe.appengine
zip-packages = False
exclude = tests
packages =
    chameleon
    zope.component
    zope.event
    zope.interface
url = http://googleappengine.googlecode.com/files/google_appengine_1.3.0.zip

[nosetests]
recipe = zc.recipe.egg
eggs =
    ${demo:packages}
    NoseGAE
    WebTest
    coverage
    nose
extra-paths =
    ${buildout:directory}/parts/google_appengine
    ${buildout:directory}/parts/google_appengine/lib/antlr3
    ${buildout:directory}/parts/google_appengine/lib/django
    ${buildout:directory}/parts/google_appengine/lib/webob
    ${buildout:directory}/parts/google_appengine/lib/yaml/lib
interpreter = python
