div#header
{
    background-image: url(../images/gradient.gif);
    border-bottom: 1px solid #888;
    height: 44px;
    text-align: right;
}

#header span
{
    background: url(../images/separator.gif) no-repeat;
    font-size: 18px;
    margin: 0 7px 0 11px;
    width: 1px;
}

#header a
{
    color: #333; 
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif; 
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin: 6px;
}

.gaebutton
{
    position: relative;
    top: 8px;
}

.headline
{
    padding-top: 10px;
}

h1
{
    color: #111;
    font-size: 2em;
}

h2
{
    color: #111;
    font-size: 1.8em;
}

strong
{
    color: #111;
}

label
{
    color: #111;
    display: block;
    font-weight: bold;
}

a
{
    border: none;
    color: #009;
    text-decoration: none;
}

a:hover
{
    border: none;
    color: #009;
    text-decoration: none;
}

a:visited
{
    border: none;
    color: #009;
    text-decoration: none;
}

img.right
{
    float: right;
    margin-left: 5px;
}

.emph
{ 
    color: #666; 
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif; 
    font-style: italic;
    font-weight: normal;
}

.hidden
{
    display: none;
    visibility: hidden;
}

label
{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

textarea.comments
{
    height: 40px;
}
